In [158]:
import lstm_predict

import pymongo
myclient = pymongo.MongoClient("mongodb://mongoadmin:admin@13.67.48.201:27017/")
mydb = myclient["LinkedIn"]
mycol = mydb["User_educations"]
cursor = mycol.find()
items = list(cursor)

In [159]:
import pandas as pd
df_education = pd.DataFrame(items)
df_education

,_id,education
0,thanhdiep23,"[Sai Gon University,Master of Business Adminis..."
1,ACoAACGoyx8BN_W_i04AdC-kWSjlP3laMt2-ATo,"[Hanoi University of Business and Technology,A..."
2,trucnguyen1112,[Ho Chi Minh University of Social Sciences and...
3,ACoAAA4hY4YBg3-UH5yt-qQmQoySgGg5dVL4vX4,"[Technology University,Bachelor of Engineering..."
4,ACoAACdYwZwBgXSpz35E99EYMaUmdt-MtHMYe0Y,[]
...,...,...
6452,bonagirimahaveer,"[National Institute of Technology Durgapur,Bac..."
6453,sharmas1ddharth,[]
6454,laurapumpute,"[Free University of Bozen-Bolzano,Master's Deg..."
6455,tqhernandez,"[University of Mary Washington,Bachelor of Sci..."
6456,kevin-hew-19349513,"[University of Melbourne,Bachelor of Commerce ..."

In [160]:
def remove_time_in_education_list(edu_list:list):
    # Remove Time in the education list
    domain_list = []
    edu_string = ''
    time = ''
    for item in edu_list:
        if ',' in item:
            edu_string = item.rsplit(',',1)[0]
            time = item.rsplit(',',1)[1]
            # print(time)
            if any(i.isdigit() for i in time) == False:
                edu_string = item
                # print(edu_string)
            # else:
                # print(edu_string)
        else:
            edu_string = item
            # print(edu_string)
        domain_list.append(edu_string)
    return domain_list

In [161]:
def extract_education_skills(domain_list:list):
    # Extract skills from education list
    edu_skills_list = []
    school = ''
    major = ''
    for item in domain_list:
        if ',' in item:
            school = item.split(',',1)[0]
            major = item.split(',',1)[1]
        else:
            school = item
            major = ''
        if major != '':
            temp_skills_list = lstm_predict.predict(major)
            edu_skills_list = edu_skills_list + temp_skills_list
    edu_skills_list = list(set(edu_skills_list))
    return edu_skills_list

In [166]:
temp = []
for i in range(0,len(df_education)):
    print("USER: ",i)
    # temp = []
    edu_skills_list = []
    try:
        edu_list = df_education.iloc[i]['education']
        domain_list = remove_time_in_education_list(edu_list)
        edu_skills_list = extract_education_skills(domain_list)
    except:
        print("Error at user: ",i)
    temp.append(edu_skills_list)

# df_education['education_skills'] = temp

USER:  0

100%|██████████| 4/4 [00:00<00:00, 6803.41it/s]

USER:  1

100%|██████████| 2/2 [00:00<00:00, 4675.92it/s]

USER:  2

100%|██████████| 5/5 [00:00<00:00, 11262.90it/s]

USER:  3

100%|██████████| 4/4 [00:00<00:00, 10180.35it/s]
100%|██████████| 7/7 [00:00<00:00, 9763.93it/s]

USER:  4
USER:  5

100%|██████████| 6/6 [00:00<00:00, 10151.60it/s]
100%|██████████| 5/5 [00:00<00:00, 11990.58it/s]

USER:  6
USER:  7
USER:  8

100%|██████████| 5/5 [00:00<00:00, 11214.72it/s]
100%|██████████| 6/6 [00:00<00:00, 12557.80it/s]
100%|██████████| 5/5 [00:00<00:00, 6188.11it/s]

USER:  9

100%|██████████| 6/6 [00:00<00:00, 8461.94it/s]
100%|██████████| 6/6 [00:00<00:00, 11743.27it/s]

In [167]:
temp

[['mba', 'master business administration'],
 ['accounting finance'],
 ['industrial organizational psychology', 'bachelors', 'degree'],
 ['science basc',
  'bachelor engineering',
  'information technology',
  'applied science basc',
  'material scientist',
  'bachelor'],
 [],
 ['science',
  'bachelors science',
  'masters',
  'mechanical engineering',
  'bachelors',
  'management',
  'masters science',
  'computer systems',
  'computer systems management'],
 [],
 [],
 ['information technology',
  'degree',
  'marketing',
  'master business administration',
  'international business',
  'bachelors',
  'mba'],
 ['bba',
  'bachelor business administration',
  'hospitality administration management']]

In [163]:
df_education

,_id,education
0,thanhdiep23,"[Sai Gon University,Master of Business Adminis..."
1,ACoAACGoyx8BN_W_i04AdC-kWSjlP3laMt2-ATo,"[Hanoi University of Business and Technology,A..."
2,trucnguyen1112,[Ho Chi Minh University of Social Sciences and...
3,ACoAAA4hY4YBg3-UH5yt-qQmQoySgGg5dVL4vX4,"[Technology University,Bachelor of Engineering..."
4,ACoAACdYwZwBgXSpz35E99EYMaUmdt-MtHMYe0Y,[]
...,...,...
6452,bonagirimahaveer,"[National Institute of Technology Durgapur,Bac..."
6453,sharmas1ddharth,[]
6454,laurapumpute,"[Free University of Bozen-Bolzano,Master's Deg..."
6455,tqhernandez,"[University of Mary Washington,Bachelor of Sci..."
6456,kevin-hew-19349513,"[University of Melbourne,Bachelor of Commerce ..."

In [150]:
# domain_education = remove_time_in_education_list(s)

Hanoi University of Science and Technology,Master's degree, Mathematics and Informatics
Hanoi University of Science and Technology,Engineer's degree, Mathematics and Informatics

In [151]:
ex

100%|██████████| 6/6 [00:00<00:00, 12526.54it/s]
100%|██████████| 6/6 [00:00<00:00, 11837.17it/s]

['mathematics',
 'mathematics informatics',
 'degree',
 'informatics',
 'masters',
 'engineers']

In [154]:
lstm_predict.predict(text="""Bachelor of Banking & Finance, Banking & Finance""")

100%|██████████| 8/8 [00:00<00:00, 7555.60it/s]

['banking', 'finance', 'bachelor banking']